@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

main {
    height: 100vh;
    position: relative;
   
}

body{
    background: url('../images/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

section#phone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
    background-color: blue;
    background: url('../images/frame-iphone.png');
    background-repeat: no-repeat;
    background-position: center;

}

iframe#screen {
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
}